#H1

##h2

###h3

*suraj*
**suraj**
~suraj~

In [5]:
%time
print("Table of squares")
for i in range(31):
  print(f'{i} times {i} = {i*i}')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs
Table of squares
0 times 0 = 0
1 times 1 = 1
2 times 2 = 4
3 times 3 = 9
4 times 4 = 16
5 times 5 = 25
6 times 6 = 36
7 times 7 = 49
8 times 8 = 64
9 times 9 = 81
10 times 10 = 100
11 times 11 = 121
12 times 12 = 144
13 times 13 = 169
14 times 14 = 196
15 times 15 = 225
16 times 16 = 256
17 times 17 = 289
18 times 18 = 324
19 times 19 = 361
20 times 20 = 400
21 times 21 = 441
22 times 22 = 484
23 times 23 = 529
24 times 24 = 576
25 times 25 = 625
26 times 26 = 676
27 times 27 = 729
28 times 28 = 784
29 times 29 = 841
30 times 30 = 900